# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Конфигурация базы данных
DATABASE_HOST=localhost                         # Хост для базы данных
DATABASE_PORT=port                              # Хост для базы данных
DATABASE_USER=username                          # Имя пользователя базы данных
DATABASE_PASSWORD=password                      # Пароль базы данных
DATABASE_NAME=mydatabase                        # Имя базы данных
POSTGRES_DB=mydatabase                          # Имя базы данных
POSTGRES_USER=username                          # Имя пользователя базы данных
POSTGRES_PASSWORD=password                      # Пароль базы данных

SECRET_KEY=your_key                             # Секретный ключ

DEBUG=True

EMAIL=your_email
EMAIL_PASS=your_email_password

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

TELEGRAM_BOT_TOKEN=your_token